<!DOCTYPE html>
<html>
   <style>
      button {
        display: block;
        background-color: #283a74;
        padding: 13px;
        width: 200px;
        color: #ffffff;
        text-align: center;
      }
    </style>
<body style="background-color:rgb(159, 181, 184); color:rgb(53, 53, 119);">

<h1>My favorate games</h1>

   <h2>
    <ul>
        {% for game in games %}
            <li>{{game}}</li>
        {% endfor %}
        </ul>

   </h2>
    <a href="http://127.0.0.1:8000/today/">
      <button background-color="#4CAF50"  > Today's date page </button>
  </a>

  <a href="http://127.0.0.1:8000/random/password/">
    <button background-color="#4CAF50" > Generates random passowrd </button>
</a>
</a>
<a href="http://127.0.0.1:8000/">
   <button background-color="#4CAF50" > Back to home </button>
</a>
</body>
</html>
