<!DOCTYPE html>
<html>
   <style>
      button {
        display: block;
        background-color: #283a74;
        padding: 13px;
        width: 200px;
        color: #ffffff;
        text-align: center;
      }
    </style>
<body style="background-color:rgb(159, 181, 184); color:rgb(53, 53, 119);">

<h1>Random Password</h1>

   <h2 style="background-color:rgb(165, 180, 182);color:rgb(36, 36, 83);">The random passowrd: {{random_pass}}
   </h2>
    <a href="http://127.0.0.1:8000/today/">
      <button background-color="#4CAF50"  > Today's date page </button>
  </a>

<a href="http://127.0.0.1:8000/favs/games/">
  <button background-color="#4CAF50"  > My favorate games </button>
</a>
<a href="http://127.0.0.1:8000/">
   <button background-color="#4CAF50" > Back to home </button>
</a>
</body>
</html>
